
body{
    background-color: #0077E2;
}
.ant-menu {
    display: flex;
    justify-content: center;

  }

  .Main{
    text-align: center;

  }
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

  

  



  